@font-face {
    font-family: 'Montserrat';
    src: url("../Montserrat/Montserrat-VariableFont_wght.ttf") format('truetype');
    font-weight: 100 900;
}

@font-face{
    font-family: 'Fraunces';
    src: url("../Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf") format('truetype');
    font-weight: 100 900;
}

